/.java/
/init.groovy.d/
/jobs/
/logs/
/nodes/
/plugins/
/secrets/
/updates/
/userContent/
/war/
/.owner
/copy_reference_file.log
/hudson.model.UpdateCenter.xml
/identity.key.enc
/nodeMonitors.xml
/queue.xml.bak
/secret.key
/secret.key.not-so-secret
